.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 10rem;
    position: relative;
}

.about-main {
    display: flex;
}

.main-img {
    margin-right: 5rem;
}

.main-img img {
    width: 650px;
}

.main-text h2 {
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color: var(--color-black);
    margin-bottom: 1.5rem;
}

.main-text p {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 350;
    line-height: 32px;
    color: var(--color-black);
}

.main-text img:first-of-type {
    position: absolute;
    top: 50%;
    left: 48.5%;
    z-index: -1;
}

.main-text img:last-of-type {
    position: absolute;
    top: 57%;
    left: 86.3%;
}

.about-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5rem;
}

.mission {
    border-radius: 10px;
    border: 4px solid var(--color-blue);
    padding: 65px 32px 45px;
}

.mission h1 {
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: var(--color-blue);
    text-align: center;
    margin-bottom: 1.5rem;
}

.mission p, 
.vision p {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 350;
    line-height: 32px;
    text-align: center;
}

.vision {
    border-radius: 10px;
    border: 4px solid var(--color-navy);
    padding: 65px 32px 45px;
}

.vision h1 {
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: var(--color-navy);
    text-align: center;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .about-main {
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .main-img {
        margin-bottom: 2.5rem;
    }
    .main-img img {
        width: 500px;
    }
    .main-text h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: .5rem;
    }
    .main-text p {
        font-size: 14px;
        font-weight: 350;
        line-height: 24px;
    }
    .main-text img:first-of-type {
        top: 63%;
        left: -0.2%;
    }
    .main-text img:last-of-type {
        top: 33%;
        left: 81%;
    }
    .mission,
    .vision {
        padding: 40px 30px;
    }
    .mission p,
    .vision p {
        line-height: 28px;
    }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
    .about-main {
        flex-direction: column;
    }
    .main-img {
        display: none;
        margin-bottom: 2.5rem;
    }
    .main-img img {
        width: 500px;
    }
    .main-text h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: .5rem;
    }
    .main-text p {
        font-size: 14px;
        font-weight: 350;
        line-height: 24px;
    }
    .main-text img {
        display: none;
    }
    .about-lower {
        flex-direction: column;
    }
    .mission,
    .vision {
        padding: 30px 30px;
        width: 90%;
    }
    .mission p,
    .vision p {
        font-size: 16px;
        line-height: 25px;
    }
}

@media screen and (min-width: 377px) and (max-width: 427px) {
    .about {
        margin: 1.5rem 0 2rem;
    }
    .about-main {
        flex-direction: column;
    }
    .main-img {
        display: none;
        margin-bottom: 2.5rem;
    }
    .main-img img {
        width: 500px;
    }
    .main-text h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 1rem;
    }
    .main-text p {
        font-size: 14px;
        font-weight: 350;
        line-height: 22px;
    }
    .main-text img {
        display: none;
    }
    .about-lower {
        flex-direction: column;
        gap: 30px;
    }
    .mission,
    .vision {
        padding: 20px 15px;
        width: 100%;
    }
    .mission h1, 
    .vision h1 {
        font-size: 28px;
        font-weight: 650;
        line-height: 40px;
        margin-bottom: .8rem;
    }
    .mission p,
    .vision p {
        font-size: 16px;
        line-height: 25px;
    }
}

@media screen and (min-width: 323px) and (max-width: 377px) {
    .about {
        margin: 1.5rem 0 2rem;
    }
    .about-main {
        flex-direction: column;
    }
    .main-img {
        display: none;
        margin-bottom: 2.5rem;
    }
    .main-img img {
        width: 500px;
    }
    .main-text h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 1rem;
    }
    .main-text p {
        font-size: 14px;
        font-weight: 350;
        line-height: 24px;
    }
    .main-text img {
        display: none;
    }
    .about-lower {
        flex-direction: column;
        gap: 20px;
        margin-top: 3rem;
    }
    .mission,
    .vision {
        padding: 20px 15px;
        width: 100%;
    }
    .mission h1, 
    .vision h1 {
        font-size: 26px;
        font-weight: 650;
        line-height: 40px;
        margin-bottom: .7rem;
    }
    .mission p,
    .vision p {
        font-size: 16px;
        line-height: 25px;
    }
}

@media screen and (max-width: 322px) {
    .about {
        margin: 1.5rem 0 2rem;
    }
    .about-main {
        flex-direction: column;
    }
    .main-img {
        display: none;
        margin-bottom: 2.5rem;
    }
    .main-img img {
        width: 500px;
    }
    .main-text h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 1rem;
    }
    .main-text p {
        font-size: 14px;
        font-weight: 350;
        line-height: 24px;
    }
    .main-text img {
        display: none;
    }
    .about-lower {
        flex-direction: column;
        gap: 20px;
        margin-top: 3rem;
    }
    .mission,
    .vision {
        padding: 18px 14px;
        width: 100%;
    }
    .mission h1, 
    .vision h1 {
        font-size: 24px;
        font-weight: 650;
        line-height: 40px;
        margin-bottom: .6rem;
    }
    .mission p,
    .vision p {
        font-size: 16px;
        line-height: 22px;
    }
}