.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 0 4rem; */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    position: relative;
    width: 100%;
    margin-left: 3rem;
}

.header-img img {
    width: 460px;
    top: -60px;
    mask-image: linear-gradient(to top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0));
    -webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0));
}

.header-text {
    margin-right: 6rem;
}

.header-text h1 {
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 2rem;
}

.header-text p {
    color: var(--color-black);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 2rem;
}

.header-text button {
    border-radius:50px;
    padding: 10px 20px;
    color: var(--color-white);
    background-color: var(--color-blue);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    gap: 10px;
    border: none;
}

.header-text button:hover {
    color: var(--color-blue);
    background-color: var(--color-white);
    border: 2px solid var(--color-blue);
}



.header-bar {
    background: var(--color-blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.header-bar p {
    font-family: var(--font-family);
    color: var(--color-white);
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
    padding: 30px 0;
}

@media screen and (max-width: 1275px) {
    .header-text h1 {
        font-size: 45px;
        font-weight: 650;
        line-height: 65px;
    }

    .header-text p {
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
    }

    .header-img {
        margin-left: 0;
    }
}

@media screen and (max-width: 1025px) {
    .header-img img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .header-text h1 {
        font-size: 42px;
        font-weight: 600;
        line-height: 55px;
        margin-bottom: 1rem;
    }
    .header-text {
        margin-right: 4rem;
    }
    .header-text p {
        line-height: 28px;
        width: 500px;
    }
    .header-bar {
        top: 500px;
    }
    .header-bar p {
        font-size: 35px;
        padding: 25px 0;
    }

    .header-img {
        margin-left: 0;
    }
}

@media screen and (max-width: 941px) {
    .header-text {
        width: 350px;
        margin-right: 2rem;
    }
    .header-text h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .header-text p {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 1rem;
        width: 300px;
    }
    .header-img img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        top: -100px;
    }

    .header-img {
        margin-left: 0;
    }
}

@media screen and (max-width: 770px) {
    .header-content {
        flex-direction: column-reverse;
    }
    .header-text {
        margin-right: 1rem;
    }
    .header-img img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        top: -100px;
    }
    .header-text h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .header-text p {
        font-size: 16px;
        line-height: 22px;
        width: 350px;
    }
    .header-bar {
        top: 400px;
    }
    .header-bar p {
        font-size: 28px;
        padding: 20px 0;
    }
    .header-text button {
        margin-bottom: 1rem;
    }

    .header-img {
        margin-left: 0;
    }
}

@media screen and (max-width: 650px) {
    .header-img img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        top: -100px;
    }
    .header-text h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: .7rem;
    }
    .header-text p {
        font-size: 14px;
        line-height: 18px;
    }
    .header-text button {
        font-size: 12px;
    }
    .header-bar {
        top: 350px;
    }
    .header-bar p {
        font-size: 24px;
        padding: 16px 0;
    }


    .header-img {
        margin-left: 0;
    }
}

/* . */
@media screen and (min-width: 320px) and (max-width: 426px) {  
    .header-content {
        flex-direction: column-reverse;
    }
    .header-img img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        top: -500px;
    }
    .header-bar {
        background: var(--color-navy);
        top: 670px;
    }
    .header-text {
        margin-left: 2rem;
    }
    .header-text button {
        margin-bottom: 0rem;
    }

        .header-img {
        margin-left: 0;
    }
}

@media screen and (max-width: 321px) {
    .header-img img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        top: -500px;
    }
    .header-text {
        margin-left: 4rem;
    }
    .header-img {
        margin-left: 10rem;
    }

    .header-img {
        margin-left: 0;
    }
}