.navbar3{
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 5%;
  justify-content: space-between;
  gap: 25px;
  background-color: #fff;
  z-index: 0.5;
}
.navbar3 div{
  display: flex;
  align-items: center;
  gap: 20px;
}
.linebar{
  width: 2px;
  height: 100%;
  background: #d4d4d4;
}
.dashicons{
  color: gray;
  font-size: 20px;
}
.person{
  color: var(--blue);
}
.profile{
  background-color: rgb(224, 246, 255);
  width: 25px;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 50%;
}.NT{
  position: relative;
}
.num{
  position: absolute;
  top: -2px;
  right: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: var(--blue);
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 699px) {
  .navbar3{
    position:fixed;
    z-index: 4;
  }
}