.sidebar{
  width: 300px;
  flex: 1;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.sidebar a{
  color: black;
}
.sidebarSec1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo{
  width: 50px;
  align-self: center;
}
.logo img{
  width: 100%;
}
.box{
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  color: black;
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.box:hover{
  background-color: var(--blue);
  color: #fff;
}
.admin{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminsec1{
  display: flex;
  gap: 10px;
}

.adminsec1 div:nth-child(1){
  background-color: var(--lightGray);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.adminsec1 div:nth-child(1) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:50%;
}

.adminsec1 p:nth-child(1){
  font-weight: 700;
}
.admin div:nth-of-type(3){
  cursor: pointer;
}