@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: bold;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'AvenirNextLTPro';
}

a{
  text-decoration: none;
}