@font-face {
  font-family: 'AvenirNextLTPro';
  /* src: url('./fonts/AvenirNextLTPro-Demi.otf') format('opentype'); */
  font-style: normal;
}

:root{
  --blue: #00b7ff;
  --lightGray: #fafafa;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'AvenirNextLTPro', sans-serif;
}


a{
  text-decoration: none;
}

.dashBody{
  display: flex;
  height: 100vh;
}
.dashboardbox{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 2;
  background-color: var(--lightGray);
}