.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-links_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links_logo img {
    width: 100px;
    height: 86px;
}